@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&family=Tiro+Devanagari+Sanskrit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&family=Raleway:wght@100&family=Tiro+Devanagari+Sanskrit&display=swap');
*{
    padding: 0;
    margin: 0;
}

.primero{
    color: rgb(5, 5, 5);
    margin-top: 5px;
}
p{
    font-size: 20px;
    text-align: justify;
    margin-right: 15px;
    margin-left: 15px;
}
h1{
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 40px;
}
h2{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 40px;
}

h3{
    text-align: center;
}

#segundo{
    color: rgb(78, 74, 74);
    text-align: center;
    margin-top: 50px;
}

footer{
    background-color:rgb(127, 121, 121) ;
    padding: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    height: auto;
    
}

body{
    background-color: rgb(153, 150, 150);
}

main{
    font-family: 'EB Garamond', serif;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.titulo{
    display: flex;
    margin: auto;
    font-size: 25px;
    color: rgb(14, 13, 13);
    font-family: 'Tiro Devanagari Sanskrit', serif;
}


.cuerpo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  0,9fr 6fr 0,9fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;  
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

footer{
    grid-area: footer;
    margin-bottom: 0;
    
}

.gris{
    background-color: rgb(153, 150, 150);
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.logo{
    width: 130px;
    height: 100px;
}
.imagen{
    width: auto;
    height: auto;
}
.iconos{
    color: rgb(12, 11, 11);
    font-size: 30px;
}


