@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&family=Tiro+Devanagari+Sanskrit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&family=Raleway:wght@100&family=Tiro+Devanagari+Sanskrit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&family=Raleway:wght@100&family=Tai+Heritage+Pro&family=Tiro+Devanagari+Sanskrit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Charis+SIL&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Nunito:wght@200&family=Quicksand:wght@300&family=Raleway:wght@100&family=Tai+Heritage+Pro&family=Tiro+Devanagari+Sanskrit&display=swap');
*{
    padding: 0;
    margin: 0;
}

.primero{
    color: rgb(5, 5, 5);
    margin-top: 5px;
}
p{
    font-size: 20px;
    text-align: justify;
    margin-right: 15px;
    margin-left: 15px;
}
h1{
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 40px;
    color: rgb(45, 166, 160);
}
h2{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 40px;
    color: rgb(45, 166, 160) ;
}

h3{
    text-align: center;
    color:rgb(45, 166, 160) ;
}

#segundo{
    color: rgb(78, 74, 74);
    text-align: center;
    margin-top: 50px;
}

footer{
    background-color:rgb(45, 166, 160);
    padding: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    height: auto;
    
}

body{
    background-color: rgb(206, 241, 253);
}

main{
    font-family: 'Nunito', sans-serif;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.titulo{
    display: flex;
    margin-top: 20px;
    font-size: 25px;
    color: rgb(14, 13, 13);
    font-family: 'Tiro Devanagari Sanskrit', serif;
}


.cuerpo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  0,9fr 6fr 0,9fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;  
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

footer{
    grid-area: footer;
    margin-bottom: 0;
    
}

.gris{
    background-color:rgb(206, 241, 253);
    font-family: 'Merriweather', serif;
    font-size: 20px;
}
.logo{
    width: 130px;
    height: 100px;
}
.imagen{
    width: auto;
    height: auto;
}
.boton{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: 
    "iconos iconos";
}

.iconos{
    font-size: 30px;
    grid-area: iconos;
    margin-left: 10px;
    margin-bottom: 0;
}


.tipografia{
    font-family: 'Tai Heritage Pro', serif;
    font-size: 20px;
}

.tipog{
    @extend.tipografia;
}

.descripcion{
    @extend.tipografia;
}
