
@import "general";
@import "servicios";
@import "profesionales";
@import "index";
@import "contacto";
@import "atencion";


@media (min-width:500px){ 
    .cuerpo{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer"
        ; 
    }
    @each $fotos in kinesiologia, kinesio, kine, psicologia, entrenamiento, alimentacion{
        .#{$fotos}-fondo{
            width: 500px;
            height: 300px;
            background-image: url('../img/#{$fotos}.jpg');
            background-repeat: no-repeat;
        }
        
    }
    
    .fotos{
        display: grid;
            grid-template-columns: 500px;
            grid-template-rows: 300px 300px 300px 300px 300px 300px;
            grid-template-areas: 
            "kinesiologia"
            "kinesio"
            "kine"
            "psicologia"
            "entrenamiento"
            "alimentacion";
            justify-content: center;
    }
    
    .kinesiologia-fondo{
        grid-area: kinesiologia;
    }
    
    .kinesio-fondo{
        grid-area: kinesio;
    }
    
    .kine-fondo{
        grid-area: kine;
    }
    
    .psicologia-fondo{
        grid-area: psicologia;
    }
    
    .entrenamiento-fondo{
        grid-area: entrenamiento;
    }
    .alimentacion-fondo{
        grid-area: alimentacion;
    }

}
@media (min-width:700px){
    .cuerpo{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 7fr 1fr;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
        ;  
    }

    .imagen{
        width: 300px;
        height: 500px;
    }


    #fernando{
        width: 250px;
        height: 200px;
    }


    @each $fotos in kinesiologia, kinesio, kine, psicologia, entrenamiento, alimentacion{
        .#{$fotos}-fondo{
            width: 500px;
            height: 300px;
            background-image: url('../img/#{$fotos}.jpg');
            background-repeat: no-repeat;
        }
        
    }
    
    .fotos{
        display: grid;
            grid-template-columns: 700px;
            grid-template-rows: 300px 300px 300px 300px 300px 300px;
            grid-template-areas: 
            "kinesiologia"
            "kinesio"
            "kine"
            "psicologia"
            "entrenamiento"
            "alimentacion";
            margin-left: 50px;
            margin-top: 50px;
            grid-row-gap: 40px;
            justify-content: center;
    }
    
    .kinesiologia-fondo{
        grid-area: kinesiologia;
    }
    
    .kinesio-fondo{
        grid-area: kinesio;
    }
    
    .kine-fondo{
        grid-area: kine;
    }
    
    .psicologia-fondo{
        grid-area: psicologia;
    }
    
    .entrenamiento-fondo{
        grid-area: entrenamiento;
    }
    .alimentacion-fondo{
        grid-area: alimentacion;
    }

    $botones:(
    simbolo: aqua,
    encabezado: rgb(109, 228, 212),
);

@each $efectos, $color in $botones {
    .efecto-#{$efectos}{
        &:hover{ 
            background-color: $color;
        } 
    }
    
}
}


@media (min-width:900px){
    .cuerpo{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 2fr 0,3fr;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer"
        ;  
    }

}

@media (min-width: 1300px){
    @each $fotos in kinesiologia, kinesio, kine, psicologia, entrenamiento, alimentacion{
        .#{$fotos}-fondo{
            width: 500px;
            height: 300px;
            background-image: url('../img/#{$fotos}.jpg');
            background-repeat: no-repeat;
            border: solid black;
            transition: width 2s;
            &:hover{
                width: 600px;
            }
        }
        
    }
    
    
    .fotos{
        display: grid;
            grid-template-columns: 650px 650px;
            grid-template-rows: 400px 400px 400px;
            grid-template-areas: 
            "kinesiologia kinesio"
            "kine psicologia"
            "entrenamiento alimentacion";
            margin-left: 100px;
            margin-top: 50px;
            grid-row-gap: 10px;
    }
    
    .kinesiologia-fondo{
        grid-area: kinesiologia;
    }
    
    .kinesio-fondo{
        grid-area: kinesio;
    }
    
    .kine-fondo{
        grid-area: kine;
    }
    
    .psicologia-fondo{
        grid-area: psicologia;
    }
    
    .entrenamiento-fondo{
        grid-area: entrenamiento;
    }
    .alimentacion-fondo{
        grid-area: alimentacion;
    }

}



