@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&family=Tiro+Devanagari+Sanskrit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&family=Raleway:wght@100&family=Tiro+Devanagari+Sanskrit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Quicksand:wght@300&family=Raleway:wght@100&family=Tai+Heritage+Pro&family=Tiro+Devanagari+Sanskrit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Charis+SIL&family=EB+Garamond:ital@1&family=Merriweather:wght@300&family=Nunito:wght@200&family=Quicksand:wght@300&family=Raleway:wght@100&family=Tai+Heritage+Pro&family=Tiro+Devanagari+Sanskrit&display=swap");
* {
  padding: 0;
  margin: 0;
}

.primero {
  color: #050505;
  margin-top: 5px;
}

p {
  font-size: 20px;
  text-align: justify;
  margin-right: 15px;
  margin-left: 15px;
}

h1 {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 40px;
  color: #2da6a0;
}

h2 {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 40px;
  color: #2da6a0;
}

h3 {
  text-align: center;
  color: #2da6a0;
}

#segundo {
  color: #4e4a4a;
  text-align: center;
  margin-top: 50px;
}

footer {
  background-color: #2da6a0;
  padding: 8px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  height: auto;
}

body {
  background-color: #cef1fd;
}

main {
  font-family: 'Nunito', sans-serif;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  font-size: 25px;
  color: #0e0d0d;
  font-family: 'Tiro Devanagari Sanskrit', serif;
}

.cuerpo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0,9fr 6fr 0,9fr;
      grid-template-rows: 0,9fr 6fr 0,9fr;
      grid-template-areas: "header" "main" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  margin-top: 1cm;
  margin-bottom: 1cm;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  margin-bottom: 0;
}

.gris {
  background-color: #cef1fd;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

.logo {
  width: 130px;
  height: 100px;
}

.imagen {
  width: auto;
  height: auto;
}

.boton {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-area: "iconos iconos";
}

.iconos {
  font-size: 30px;
  grid-area: iconos;
  margin-left: 10px;
  margin-bottom: 0;
}

.tipografia, .tipog, .descripcion {
  font-family: 'Tai Heritage Pro', serif;
  font-size: 20px;
}

#fernando {
  width: 250px;
  height: 200px;
}

#fernando {
  margin-left: 15px;
}

figcaption {
  margin-left: 15px;
}

.contacto {
  text-align: center;
  margin-top: 80px;
}

#atencion {
  font-size: 35px;
  margin-left: 20px;
  text-align: center;
  color: #2da6a0;
}

.obras {
  font-size: 18px;
  margin-left: 5px;
}

@media (min-width: 500px) {
  .cuerpo {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "main main" "footer footer";
  }
  .kinesiologia-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/kinesiologia.jpg");
    background-repeat: no-repeat;
  }
  .kinesio-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/kinesio.jpg");
    background-repeat: no-repeat;
  }
  .kine-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/kine.jpg");
    background-repeat: no-repeat;
  }
  .psicologia-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/psicologia.jpg");
    background-repeat: no-repeat;
  }
  .entrenamiento-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/entrenamiento.jpg");
    background-repeat: no-repeat;
  }
  .alimentacion-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/alimentacion.jpg");
    background-repeat: no-repeat;
  }
  .fotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 500px;
        grid-template-columns: 500px;
    -ms-grid-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-areas: "kinesiologia" "kinesio" "kine" "psicologia" "entrenamiento" "alimentacion";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kinesiologia-fondo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: kinesiologia;
  }
  .kinesio-fondo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: kinesio;
  }
  .kine-fondo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: kine;
  }
  .psicologia-fondo {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: psicologia;
  }
  .entrenamiento-fondo {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: entrenamiento;
  }
  .alimentacion-fondo {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: alimentacion;
  }
  #fernando {
    width: 250px;
    height: 200px;
  }
}

@media (min-width: 700px) {
  .cuerpo {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 0.3fr 7fr 1fr;
        grid-template-rows: 0.3fr 7fr 1fr;
        grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
  .imagen {
    width: 300px;
    height: 500px;
  }
  .kinesiologia-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/kinesiologia.jpg");
    background-repeat: no-repeat;
  }
  .kinesio-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/kinesio.jpg");
    background-repeat: no-repeat;
  }
  .kine-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/kine.jpg");
    background-repeat: no-repeat;
  }
  .psicologia-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/psicologia.jpg");
    background-repeat: no-repeat;
  }
  .entrenamiento-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/entrenamiento.jpg");
    background-repeat: no-repeat;
  }
  .alimentacion-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/alimentacion.jpg");
    background-repeat: no-repeat;
  }
  .fotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 700px;
        grid-template-columns: 700px;
    -ms-grid-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-areas: "kinesiologia" "kinesio" "kine" "psicologia" "entrenamiento" "alimentacion";
    margin-left: 50px;
    margin-top: 50px;
    grid-row-gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kinesiologia-fondo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: kinesiologia;
  }
  .kinesio-fondo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: kinesio;
  }
  .kine-fondo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: kine;
  }
  .psicologia-fondo {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: psicologia;
  }
  .entrenamiento-fondo {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: entrenamiento;
  }
  .alimentacion-fondo {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: alimentacion;
  }
  .efecto-simbolo:hover {
    background-color: aqua;
  }
  .efecto-encabezado:hover {
    background-color: #6de4d4;
  }
}

@media (min-width: 900px) {
  .cuerpo {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 0.3fr 2fr 0,3fr;
        grid-template-rows: 0.3fr 2fr 0,3fr;
        grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  }
}

@media (min-width: 1300px) {
  .kinesiologia-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/kinesiologia.jpg");
    background-repeat: no-repeat;
    border: solid black;
    -webkit-transition: width 2s;
    transition: width 2s;
  }
  .kinesiologia-fondo:hover {
    width: 600px;
  }
  .kinesio-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/kinesio.jpg");
    background-repeat: no-repeat;
    border: solid black;
    -webkit-transition: width 2s;
    transition: width 2s;
  }
  .kinesio-fondo:hover {
    width: 600px;
  }
  .kine-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/kine.jpg");
    background-repeat: no-repeat;
    border: solid black;
    -webkit-transition: width 2s;
    transition: width 2s;
  }
  .kine-fondo:hover {
    width: 600px;
  }
  .psicologia-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/psicologia.jpg");
    background-repeat: no-repeat;
    border: solid black;
    -webkit-transition: width 2s;
    transition: width 2s;
  }
  .psicologia-fondo:hover {
    width: 600px;
  }
  .entrenamiento-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/entrenamiento.jpg");
    background-repeat: no-repeat;
    border: solid black;
    -webkit-transition: width 2s;
    transition: width 2s;
  }
  .entrenamiento-fondo:hover {
    width: 600px;
  }
  .alimentacion-fondo {
    width: 500px;
    height: 300px;
    background-image: url("../img/alimentacion.jpg");
    background-repeat: no-repeat;
    border: solid black;
    -webkit-transition: width 2s;
    transition: width 2s;
  }
  .alimentacion-fondo:hover {
    width: 600px;
  }
  .fotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 650px 650px;
        grid-template-columns: 650px 650px;
    -ms-grid-rows: 400px 400px 400px;
        grid-template-rows: 400px 400px 400px;
        grid-template-areas: "kinesiologia kinesio" "kine psicologia" "entrenamiento alimentacion";
    margin-left: 100px;
    margin-top: 50px;
    grid-row-gap: 10px;
  }
  .kinesiologia-fondo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: kinesiologia;
  }
  .kinesio-fondo {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: kinesio;
  }
  .kine-fondo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: kine;
  }
  .psicologia-fondo {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: psicologia;
  }
  .entrenamiento-fondo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: entrenamiento;
  }
  .alimentacion-fondo {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: alimentacion;
  }
}
/*# sourceMappingURL=style.css.map */